// Pallate Colors
$primary-color: #3278ff;
$secondary-color: #878e96;
$success-color: #43db7d;
$danger-color: #db3838;
$warning-color: #d4d004;
$secondary-bg-color: #f1f1f1;
$quest-color: #4dbb77;

// Diff Colors 
.F {
  background-color: #8e9fa3;
}

.E {
  background-color: #555555;
}

.D {
  background-color: #67b84e;
}

.C {
  background-color: #228a7c;
}

.B {
  background-color: #2756bd;
}

.A {
  background-color: #b83939;
}

.S {
  background-color: #e0b352;
}