.F {
  background-color: #8e9fa3;
}

.E {
  background-color: #555555;
}

.D {
  background-color: #67b84e;
}

.C {
  background-color: #228a7c;
}

.B {
  background-color: #2756bd;
}

.A {
  background-color: #b83939;
}

.S {
  background-color: #e0b352;
}

.header {
  width: 100vw;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  background-color: white;
  position: relative;
}

.header .label {
  width: 55%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.header .searchbar {
  width: 45%;
  text-align: end;
  height: 50%;
  border: solid black 1px;
  border-radius: 0.75rem;
  margin: 0%;
}

.header .searchbar .search-text {
  width: 50%;
  height: 100%;
  font-size: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.75rem 0 0 0.75rem;
  padding: 0;
}

.header .searchbar .search-type {
  display: inline-block;
  width: 35%;
  height: 100%;
  font-size: 1rem;
  border: 0;
  border-radius: 0 0.75rem 0.75rem 0;
  padding: 0%;
  padding-left: 0.25rem;
  background-color: #f1f1f1;
}

.header .label-sm {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2rem;
  text-align: center;
}

.header .back-btn {
  font-size: 1.5rem;
  width: 10.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem;
  left: 3.5%;
  background-color: #878e96;
  color: white;
  border-radius: 0.75rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .btn {
  font-size: 1.5rem;
  width: 10.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.5rem;
  right: 3.5%;
  color: white;
  border-radius: 0.75rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .update-btn {
  background-color: #878e96;
}

.header .check-btn {
  background-color: #43db7d;
}

.mobile-navbar {
  width: 100vw;
  height: 8.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-navbar .nav-link {
  color: black;
}

.mobile-navbar .nav-link .icon {
  width: 7.5vw;
  height: 7.5vw;
}

.mobile-navbar .selected {
  color: rgba(0, 0, 0, 0.575);
}

.pill {
  padding: 0.35rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-height: 30px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem;
}

.pill .pill-label {
  font-weight: bold;
}

.pill .close {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.project-list-page {
  width: 100%;
  height: 100%;
}

.project-list-page .main-content {
  width: 100%;
  height: calc(100% - 9vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.75%;
}

.project-list-page .main-content .project-list-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 3.5% 3%;
}

.project-list-page .main-content .project-list-container .project-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list-page .main-content .project-list-container .project-list .list-controls {
  width: 100%;
  height: auto;
  padding: 0.1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.project-list-page .main-content .project-list-container .project-list .list-controls .ongoing {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 1.5rem;
}

.project-list-page .main-content .project-list-container .project-list .list-controls .completed {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: auto;
}

.project-list-page .main-content .project-list-container .project-list .list-controls .active {
  font-weight: bold;
}

.project-list-page .main-content .project-list-container .project-list .list-controls .add-btn {
  width: 8.5%;
  height: 100%;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0.3rem;
  border-radius: 0.35rem;
}

.project-list-page .main-content .project-list-container .project-list .list {
  width: 97.5%;
  height: 92.5%;
  border-radius: 1rem;
  overflow-y: scroll;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item {
  margin-bottom: 1rem;
  width: 100%;
  height: 18%;
  background-color: white;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0.15rem 0.1rem #e2e2e2;
          box-shadow: 0.15rem 0.1rem #e2e2e2;
  position: relative;
  cursor: pointer;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .delete-btn {
  position: absolute;
  top: 8%;
  right: 4%;
  padding: 0 0.1rem;
  background-color: #db3838;
  color: white;
  border-radius: 0.25rem;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .highlight {
  width: 2.5%;
  height: 100%;
  background-color: #3278ff;
  border-radius: 1rem 0 0 1rem;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info {
  width: 67.5%;
  height: 100%;
  padding: 0.9rem;
  padding-left: 1.25rem;
  padding-right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper {
  width: 100%;
  height: 82.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper .project-type {
  font-size: 1.5rem;
  padding: 0.75rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20%;
  background-color: #3278ff;
  color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper .project-title {
  width: 100%;
  height: 50%;
  font-size: 2rem;
  overflow-x: auto;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper .project-title::-webkit-scrollbar {
  display: none;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper .project-description {
  height: 1.2rem;
  font-size: 1.2rem;
  overflow-x: auto;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .wrapper .project-description::-webkit-scrollbar {
  display: none;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-info .project-status {
  height: 17.5%;
  font-size: 0.85rem;
  opacity: 0.8;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-progress {
  width: 29.5%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 1.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item .project-progress .CircularProgressbar-path {
  stroke: #3278ff;
}

.project-list-page .main-content .project-list-container .project-list .list .projects-list-item:last-child {
  margin-bottom: 0%;
}

.project-list-page .main-content .project-list-container .project-list .list::-webkit-scrollbar {
  display: none;
}

.project-list-page .main-content .project-list-container .new-project-form {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-controls {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-controls .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.project-list-page .main-content .project-list-container .new-project-form .form-controls .close-btn {
  width: 7.5%;
  height: 100%;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0;
  border-radius: 0.35rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container {
  width: 100%;
  height: 93%;
  background-color: white;
  border-radius: 1rem;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .highlight {
  width: 2.5%;
  height: 100%;
  background-color: #3278ff;
  border-radius: 1rem 0 0 1rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .main-form {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container {
  width: 100%;
  height: 87.5%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .quest-name {
  margin-bottom: 11%;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .quest-type-term {
  margin-bottom: 11%;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .quest-description {
  margin-bottom: 11%;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .quest-task {
  margin-bottom: 11%;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .custom-form-row {
  width: 92.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .custom-form-row .label .form-label {
  margin: 0%;
  margin-right: 1rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .custom-form-row .add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #878e96;
  color: white;
  padding: 0.35rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .custom-form-row .quest-list:-moz-read-only {
  border: solid #cfcfcf 1px;
  width: 92.5%;
  min-height: 20%;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .custom-form-row .quest-list:read-only {
  border: solid #cfcfcf 1px;
  width: 92.5%;
  min-height: 20%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .overflow-container::-webkit-scrollbar {
  display: none;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .overflow-container .pill-area {
  width: 90%;
  height: 20%;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-list-page .main-content .project-list-container .new-project-form .form-container .submit-btn {
  display: block;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project-details-page {
  width: 100%;
  height: 100%;
}

.project-details-page .main-content {
  width: 100%;
  height: calc(100% - 9vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5%;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.project-details-page .main-content .project-details-container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details-page .main-content .project-details-container .project-details-main {
  width: 95%;
  height: 82.5%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
          box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid #f1f1f1 3px;
  margin-top: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .highlight {
  width: 2.5%;
  height: 100%;
  background-color: #3278ff;
  border-radius: 20px 0 0 20px;
  display: none;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details {
  width: 100%;
  height: 100%;
  padding: 1.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.35rem;
  overflow-y: auto;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-header .project-title {
  font-size: 2.35rem;
  font-weight: bold;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-header .form-control {
  width: 80%;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-header .project-icon {
  background-color: #3278ff;
  border-radius: 50%;
  padding: 0.65rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-header .project-icon .icon {
  width: 25px;
  height: 25px;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-type .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-date .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-term .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-description {
  width: 97.5%;
  height: 15%;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-description .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-description .description {
  max-height: 60%;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  overflow-y: auto;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-description .form-control {
  max-height: 62.5%;
  padding: 0.1rem 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-description .description::-webkit-scrollbar {
  display: none;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests {
  height: 27.5%;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .quests {
  max-height: 75%;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 1.5rem;
  overflow-y: auto;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .quests::-webkit-scrollbar {
  display: none;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .quest-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .quest-header .label {
  font-weight: bold;
  margin-bottom: 0;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-quests .quest-header .add-btn {
  font-size: 1rem;
  margin-left: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.2rem 0.3rem;
  background-color: #878e96;
  color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-skills {
  width: 100%;
  height: 20%;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-skills .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-skills .skills {
  width: 100%;
  max-height: 70%;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  font-size: 1.25rem;
}

.project-details-page .main-content .project-details-container .project-details-main .project-details .project-skills .skills::-webkit-scrollbar {
  display: none;
}

.project-details-page .main-content .project-details-container .project-details-main .header {
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
  border-radius: 20px 20px 0 0;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form {
  width: 100%;
  height: 90%;
  font-size: 1.35rem;
  position: relative;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container {
  width: 100%;
  height: 87%;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .quest-name {
  margin-bottom: 10%;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .quest-type-term {
  margin-bottom: 10%;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .quest-description {
  margin-bottom: 10%;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .quest-task {
  margin-bottom: 10%;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .custom-form-row {
  width: 92.5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .custom-form-row .label .form-label {
  margin: 0%;
  margin-right: 1rem;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .custom-form-row .add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #878e96;
  color: white;
  padding: 0.35rem;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .custom-form-row .quest-list:-moz-read-only {
  border: solid #cfcfcf 1px;
  width: 92.5%;
  min-height: 20%;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .custom-form-row .quest-list:read-only {
  border: solid #cfcfcf 1px;
  width: 92.5%;
  min-height: 20%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: auto;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container .pill-area {
  width: 90%;
  height: 20%;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .overflow-container::-webkit-scrollbar {
  display: none;
}

.project-details-page .main-content .project-details-container .project-details-main .main-form .submit-btn {
  display: block;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project-details-page .main-content .project-details-container .project-progress-info {
  width: 95%;
  height: 12.5%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
          box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
  border: solid #f1f1f1 3px;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.65rem;
  padding-top: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.35rem;
  scroll-snap-align: start;
  margin-right: 10px;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-header .label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-header .logs-btn {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding: 0.15rem 0.5rem;
  background-color: #d4d004;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-header .logs-btn a {
  color: white;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-bar-container {
  height: 37.5%;
  border-radius: 20px;
  font-size: 18px;
}

.project-details-page .main-content .project-details-container .project-progress-info .progress-wrapper .progress-bar-container .progress-bar {
  background-color: #3278ff;
}

.project-details-page .main-content .project-details-container .project-progress-info .delete-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: #db3838;
  padding: 0.75rem 1.65rem;
  padding-top: 0.9rem;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #ececec;
  cursor: pointer;
}

.project-details-page .main-content .project-details-container .project-progress-info::-webkit-scrollbar {
  display: none;
}

.quest-list-page {
  width: 100%;
  height: 100%;
}

.quest-list-page .main-content {
  width: 100%;
  height: calc(100% - 9vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.75%;
}

.quest-list-page .main-content .quest-list-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 3.5% 3%;
}

.quest-list-page .main-content .quest-list-container .quest-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-list-page .main-content .quest-list-container .quest-list .list-controls {
  width: 100%;
  height: auto;
  padding: 0.1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.quest-list-page .main-content .quest-list-container .quest-list .list-controls .daily {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.quest-list-page .main-content .quest-list-container .quest-list .list-controls .weekly {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.quest-list-page .main-content .quest-list-container .quest-list .list-controls .main {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.quest-list-page .main-content .quest-list-container .quest-list .list-controls .active {
  font-weight: bold;
}

.quest-list-page .main-content .quest-list-container .quest-list .list {
  width: 97.5%;
  height: 92.5%;
  border-radius: 1rem;
  overflow-y: scroll;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item {
  margin-bottom: 1rem;
  width: 100%;
  height: 18%;
  background-color: white;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0.15rem 0.1rem #e2e2e2;
          box-shadow: 0.15rem 0.1rem #e2e2e2;
  position: relative;
  cursor: pointer;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .highlight {
  width: 2.5%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .quest-info {
  width: 67.5%;
  height: 100%;
  padding: 1.15rem;
  padding-left: 1.25rem;
  padding-right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .quest-info .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .quest-info .wrapper .quest-series {
  font-size: 1.5rem;
  padding: 0.75rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 20%;
  color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .quest-info .quest-name {
  font-size: 2rem;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .quest-info .quest-rewards {
  margin-top: auto;
  font-size: 1.1rem;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .icon-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item .icon-container .icon {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 50%;
}

.quest-list-page .main-content .quest-list-container .quest-list .list .quests-list-item:last-child {
  margin-bottom: 0%;
}

.quest-list-page .main-content .quest-list-container .list::-webkit-scrollbar {
  display: none;
}

.quest-details-page {
  width: 100%;
  height: 100%;
}

.quest-details-page .main-content {
  width: 100%;
  height: calc(100% - 9vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5%;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.quest-details-page .main-content .quest-details-container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-details-page .main-content .quest-details-container .quest-details-main {
  width: 95%;
  height: 95%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
          box-shadow: 0 0.3rem 0 0 #dbdbdb, 0.2rem 0 0 0 #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid #f1f1f1 3px;
  margin-top: 0.25rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details {
  width: 100%;
  height: 100%;
  padding: 1.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  overflow-y: auto;
  position: relative;
  overflow: hidden;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-header .quest-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-header .quest-diff {
  border-radius: 50%;
  padding: 0.65rem;
  color: white;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-header .quest-diff .diff {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-series .label {
  margin: 0%;
  margin-right: 1.25rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-description {
  width: 100%;
  max-height: 20%;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-description .description {
  width: 100%;
  max-height: 80%;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  overflow-y: auto;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-description .description::-webkit-scrollbar {
  display: none;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-skills {
  width: 100%;
  max-height: 16%;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-skills .skills {
  width: 100%;
  max-height: 70%;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  font-size: 1.25rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-skills .skills::-webkit-scrollbar {
  display: none;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-conditions {
  width: 100%;
  max-height: 16%;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-conditions .conditions {
  width: 100%;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  max-height: 75%;
  overflow-y: auto;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-conditions .conditions::-webkit-scrollbar {
  display: none;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-rewards {
  width: 100%;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-rewards .rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .quest-rewards .rewards .gold {
  margin-right: 1rem;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .bottom-corner {
  position: absolute;
  width: 250px;
  height: 300px;
  border-radius: 50%;
  right: -40%;
  bottom: -20%;
}

.quest-details-page .main-content .quest-details-container .quest-details-main .quest-details .bottom-corner .icon {
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 17.5%;
  top: 30%;
}

.app {
  width: 100%;
  height: 91.5vh;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */