// Constants 
@import './colors';

// Headers
@import './components/customUiComponents/headers';

// Navbars
@import './components/customUiComponents/navbar';

// Custom Ui Components
@import './components/customUiComponents/pill';

// Pages
@import './pages/projectsList';
@import './pages/projectDetail';
@import './pages/questsList';
@import './pages/questDetail';

.app {
    width: 100%;
    height: 91.5vh;
}

.hide {
  display: none;
}