.project-list {
  width: 100%;
  height: 100%;

  .list-controls {
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    .ongoing {
      width: 27.5%;
    }

    .completed {
      width: 65%;
    }

    .active {
      font-weight: bold;
    }

    .add-btn {
      width: 7.5%;
      height: 100%;
      text-align: end;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem 0;
      border-radius: 0.35rem;
    }
  }

  .list {
    width: 100%;
    height: 95%;
    border-radius: 1rem;
    overflow-y: scroll;

    .hide {
      display: none;
    }

    .projects-list-item {
      margin-bottom: 1rem;
      width: 100%;
      height: 20%;
      background-color: white;
      border-radius: 1rem;
      display: flex;
      box-shadow: 0.15rem 0.1rem rgb(226, 226, 226);
      position: relative;

      .delete-btn {
        position: absolute;
        top: 8%;
        right: 4%;
        border: solid red;
      }

      .highlight {
        width: 2.5%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 1rem 0 0 1rem;
      }

      .project-info {
        box-sizing: border-box;
        width: 67.5%;
        height: 100%;
        padding: 1rem 1.15rem;
        padding-right: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .wrapper {
          width: 100%;
          height: 100%;
          box-sizing: border-box;

          .project-type {
            display: inline-block;
            padding: 0.05rem 0.5rem;
            font-size: 0.8rem;
            height: 20%;
            background-color: $primary-color;
            color: white;
            border-radius: 0.5rem;
          }

          .project-title {
            font-size: 1.55rem;
          }

          .project-description {
            font-size: 1rem;
          }
        }

        .project-status {
          font-size: 0.8rem;
          opacity: 0.8;
          position: relative;
          bottom: 0%;
        }
      }

      .project-progress {
        box-sizing: border-box;
        width: 28.5%;
        height: 100%;
        padding: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .CircularProgressbar-path {
          stroke: $primary-color;
        }
      }
    }
  }

  .list::-webkit-scrollbar {
    display: none;
  }
}
