.project-details-page {
  width: 100%;
  height: 100%;

  .main-content {
    width: 100%;
    height: calc(100% - 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.75%;
    background-color: rgba(236, 236, 236, 0.5);

    .project-details-container {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .project-details-main {
      width: 95%;
      height: 82.5%;
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0.3rem 0 0 rgb(219, 219, 219),
        0.2rem 0 0 0 rgb(232, 232, 232);
      display: flex;
      border: solid $secondary-bg-color 3px;

      .highlight {
        width: 2.5%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 20px 0 0 20px;
        display: none;
      }

      .project-details {
        width: 100%;
        padding: 1.65rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.35rem;
        overflow-y: auto;

        .project-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .project-title {
            font-size: 2.35rem;
            font-weight: bold;
          }

          .project-icon {
            background-color: $primary-color;
            border-radius: 50%;
            padding: 0.65rem;
            color: white;

            .icon {
              width: 25px;
              height: 25px;
            }
          }
        }

        .project-date {
          display: flex;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
            margin-right: 1rem;
          }
        }
        .project-term {
          display: flex;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
            margin-right: 1rem;
          }
        }

        .project-description {
          width: 97.5%;
          height: 15%;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          .description {
            max-height: 60%;
            padding-top: 0.1rem;
            padding-bottom: 0.2rem;
            overflow-y: auto;
          }

          .description::-webkit-scrollbar {
            display: none;
          }
        }

        .project-quests {
          height: 27.5%;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          .quests {
            max-height: 75%;
            padding-top: 0.1rem;
            padding-bottom: 0.2rem;
            padding-left: 1.5rem;
            overflow-y: auto;
          }

          .quests::-webkit-scrollbar {
            display: none;
          }
        }

        .project-skills {
          width: 100%;
          height: 20%;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          .skills {
            width: 100%;
            max-height: 70%;
            padding-top: 0.1rem;
            padding-bottom: 0.2rem;
            overflow-y: auto;
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            font-size: 1.25rem;
          }

          .skills::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    .project-progress-info {
      width: 95%;
      height: 12.5%;
      border: solid rebeccapurple;
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0.3rem 0 0 rgb(219, 219, 219),
        0.2rem 0 0 0 rgb(232, 232, 232);
      display: flex;
      border: solid $secondary-bg-color 3px;
      margin-bottom: 0.5rem;

      .highlight {
        width: 2.5%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 20px 0 0 20px;
        display: none;
      }

      .progress-wrapper {
        width: 100%;
        padding: 0.75rem 1.65rem;
        padding-top: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.35rem;

        .progress-header {
          display: flex;
          justify-content: space-between;

          .label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }

          .logs-btn {
            font-size: 1.1rem;
            width: max-content;
            height: 100%;
            padding: .15rem .5rem;
            background-color: $secondary-color;
            color: white;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .progress-bar-container {
          height: 37.5%;
          border-radius: 20px;
          font-size: 18px;

          .progress-bar {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
