.project-list-page {
  width: 100%;
  height: 100%;

  .main-content {
    width: 100%;
    height: calc(100% - 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.75%;

    .project-list-container {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background-color: $secondary-bg-color;
      padding: 3.5% 3%;

      @import "../components/projects/list";
      @import "../components/projects/_projectForm.scss";
    
    }
  }
}

.hide {
  display: none;
}
