.project-details-page {
  width: 100%;
  height: 100%;

  .main-content {
    width: 100%;
    height: calc(100% - 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.75%;
    background-color: rgba(236, 236, 236, 0.5);

    .project-details-container {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @import '../components/project/projectCard';

      @import '../components/project/projectProgress'
    }
  }
}
