.user-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-bg-color;

  .main-content {
    width: 95%;
    height: calc(100% - 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5%;
    border-radius: 20px;

    .user-card {
      width: 100%;
      height: 95%;
      border-radius: 30px;
      display: flex;
      overflow: hidden;
      box-shadow: 0.1rem 0.3rem 0 0 rgb(219, 219, 219),
        0.2rem 0 0 rgb(175, 175, 175);
      background-color: white;
      overflow: hidden;

      .highlight {
        width: 3%;
        height: 100%;
        background-color: $profile-color;
        border-radius: 20px 0 0 20px;
      }

      .card-details {
        width: 97%;
        height: 100%;
        border-radius: 0 20px 20px 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5rem;
        position: relative;
        font-size: 1.3rem;

        .label {
          font-size: 1.4rem;
          font-weight: bold;
        }

        .basic-info-container {
          width: 100%;
          height: 25.5%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .name {
            font-size: 2rem;
          }

          .level-bar {
            .level {
              margin-bottom: .2rem;
            }

            .bar {
              height: 22.5px;
              border-radius: 20px;
              margin-bottom: .1rem;

              .progress-bar {
                background-color: $success-color;
                color: $success-color;
                border-radius: 20px;
              }
            }

            .exp-rem {
              font-size: 1.15rem;
              opacity: 0.85;
            }
          }
        }

        .attribute {
          display: flex;
          margin-bottom: 0.25rem;
        }

        .nospace {
          margin: 0;
        }

        .profile-pic {
          width: 175px;
          height: 175px;
          background-color: $profile-color;
          position: absolute;
          right: -60px;
          top: -70px;
          border-radius: 50%;

          .pic {
            width: 65px;
            height: 65px;
            position: absolute;
            left: 30px;
            bottom: 22.5px;
          }
        }

        .stats-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .stats-header {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.2rem;

            .label {
              flex: 1 1;
            }

            .cbtn {
              flex: 0 0;
              padding: 0.15rem 0.3rem;
              border-radius: 1rem;
              color: white;
            }

            .cstats-btn {
              margin-right: 0.75rem;
              background-color: #4098ff;
            }

            .fstats-btn {
              background-color: #3dd1a5;
            }
          }

          .stats {
            width: 90%;

            .stats-row {
              display: flex;
              justify-content: space-between;

              .attribute {
              }
            }
          }
        }

        .custom-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .custom-header {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.3rem;

            .label {
              flex: 1 1;
            }

            .custom-btn {
              flex: 0 0;
              padding: 0.15rem 0.3rem;
              border-radius: 1rem;
              color: white;
              width: max-content;
              white-space: nowrap;

              a {
                  color: white;
              }
            }

            .skill-tree-btn {
              background-color: #88c722;
            }

            .achievements-btn {
              background-color: #faba5c;
            }
          }

          .list {
            width: 90%;

            .list-item {
              margin-bottom: 0.25rem;
            }
          }
        }
        .statistics-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .statistics-header {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0.2rem;

            .label {
                flex: 1 1;
            }
            
            .statistics-btn {
              flex: 0 0;
              padding: 0.15rem 0.3rem;
              border-radius: 1rem;
              color: white;
              background-color: #eb729a;
              width: max-content;
              white-space: nowrap;
            }
          }

          .statistics {
            width: 90%;

            .day-streak {
              margin-bottom: 0.25rem;
            }

            .quest-completed {
            }
          }
        }
      }
    }
  }
}
