.list-header {
  box-sizing: border-box;
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: white;

  .label {
    flex: 55%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .searchbar {
    flex: 45%;
    text-align: end;
    height: 50%;
    border: solid black 1px;
    border-radius: .75rem;
    margin: 0%;

    .search-text {
      width: 50%;
      height: 100%;
      font-size: 1rem;
      outline: 0;
      border: 0;
      border-radius: 0.75rem 0 0 0.75rem;
      padding: 0;
    }

    .search-type {
      display: inline-block;
      width: 35%;
      height: 100%;
      font-size: 1rem;
      border: 0;
      border-radius: 0 0.75rem 0.75rem 0;
      padding: 0%;
      padding-left: .25rem;
      background-color: rgb(228, 228, 228);
    }
  
  }
}
