.mobile-navbar {
    box-sizing: border-box;
    width: 100vw;
    height: 8.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon {
        width: 7.5vw;
        height: 7.5vw;
    }
}